*{
    box-sizing: border-box;
}

#container {
    width: 75%;
    margin: 0 auto;
}

.col-xs-12, .col-sm-6, .col-md-3 {
    
    width: 24%;
    height: 350px;
    margin:5px;
    margin-top:15px;
}

.thumbnail{
    border: 1px solid red;
    height: 350px;
    margin-top: 5px;
}

#imagen{
    height: 150px;
    width: auto;
}

.form-group{
    margin:0 auto;
    width: 50%;
}

.contenedorInfo{
    margin:10px;
}

